.dashboard-background
.dashboard-filler
%div#account-information
  .row.info-container
    .small-3.columns
      = image_tag @user.photo, class: 'user-avatar'
    .small-3.columns#account-details
      %h3= @user.fullname
      %p= @user.email
    .small-5.columns#account-stat-container
      .dashboard-filler
      .row
        %ul#social-stats
          .small-3.columns
            %li
              %h5 0
              .stat
                %i.fi-lightbulb.medium
              %p.outer-text Ideas
          .small-3.columns
            %li
              %h5= @user.followers
              .stat
                %i.fi-torsos-all.medium
              %p.inner-text Followers
          .small-3.columns
            %li
              %h5= @user.following
              .stat
                %i.fi-torsos-all.medium
              %p.inner-text Following
          .small-3.columns
            %li
              %h5 0
              .stat
                %i.fi-list-bullet.medium
              %p.outer-text Lists
.row#user-favorites
  %h4
    = @user.fullname
    \'s Recent Checkins
  - @user_checkins.each do |checkin|
    .small-4.columns.recent-lists.callout.end
      .top-list
      -# .top-list{ style: "background-image: url('#{checkin.photo}')" }
      %hr
      .bottom-list
        %h5
          = link_to checkin.venue, venue_path(checkin.venue)
