.nav-bar-browse
  %ul.dropdown.menu.align-right{ 'data-dropdown-menu' => ''}
    - if current_user
      %li.user-info
        %a
          %i{class: 'fi-torso'}
          = username
          %ul.menu
            %li
              = link_to 'Dashboard', dashboard_path
            %li
              = link_to 'Logout', logout_path, method: 'delete'
    - else
      %li.user-info
        %a Login
        %ul.menu
          %li
            %a{ href: "https://foursquare.com/oauth2/authenticate?client_id=#{ENV['foursquare_id']}&response_type=code&redirect_uri=http://localhost:3000/auth/foursquare/callback" }
              %i.fi-social-foursquare.medium
              Login

    %ul.menu
      %li
        = link_to 'YourSquare', root_path, class: 'menu-text'
      %li
        %input{ type: 'text', placeholder: "I'm looking for..."}
      %li
        %input{ type: 'text', placeholder: "Location", class: 'nav-location'}
