!!!
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Your Square"

    %link{ rel: "stylesheet", href: "https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css" }
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "custom"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag

  %body
    = render partial: 'layouts/default_nav'


    - flash.each do |type, message|
      = content_tag( :div, sanitize(message), class: "flash-#{type}" )

    = yield
